{% form_theme form 'bootstrap_3_layout.html.twig' %}
<!DOCTYPE html>

<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        {% block stylesheet %}


        {% endblock %}

    </head>

    <body>

        <p>sadasdasdasdsa</p>


    </body>

</html>



